/* This rule hides the display of inherited types */
.typelist.inheritedMembers {
    display: none;
}

body>main>.content>article, body[data-layout=landing]>main>.content>article {
    direction: rtl;
    line-height: 2.5;
}

code {
    direction: ltr;
    line-height: 1.5;
}

.affix {
    direction: rtl;
    line-height: 1.5;
}

body>header {
    direction: rtl;
}

/* dl.typelist.inheritance {
    display: none;
}

dl.typelist.implements {
    display: none;
}

dl.typelist.derived {
    display: none;
} */